sudo: required
language: python

services:
  - docker

script:
  - docker run -v ${PWD}:/build -v ${PWD}:/output:Z centos:centos7 ci/build.sh

install: true

script:

deploy:
  provider: releases
  api_key:
    secure: ${GITHUB_API_TOKEN}
  file:
    - "output/alice-system-deps-$TRAVIS_TAG-1.x86_64.rpm"
  skip_cleanup: true
  on:
    tags: true
